html body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(109, 109, 255, 0.575);
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar a {
  text-decoration: none;
  font-size: 32px;
}

.playlist-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.playing-box {
  width: 50%;
  display: flex;
  height: 100vh;
}

.song {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 28px;
}

.song span {
  margin-left: 5%;
  justify-self: space-between;
  width: 30%;
}

.song img {
  width: 128px;
  height: 128px;
}
